@charset "utf-8";

/* CSS Document */

html,
body{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	font-family:'Montserrat', "Gill Sans", "Helvetica", "Arial", sans-serif;
	color:#565A5C;
}

/**** FUNDS ****/

.bullets{
	border-radius:50%;
	color:purple;
	width:5px;
	height:5px;
}


.bulleted{
	width:40px;
	height:40px;
	color:orange;
	
}


/**** GRID SYSTEM ****/

.container-fluid{
	margin:0;
	padding:0;
	height:100%;
}

.center{
	text-align:center;
}

.top-margin{
	/*margin-top:15%;*/
/*	margin-top:33%;
*/}


.full-height{
	height:100%;
}

.mobi-only{
	display:inline-block;
}

.item-page{
	height:100%;
}

.page-header{
	display:none;
}

.no-pad{
	padding:0px;
}

.no-pad-bottom{
	padding-bottom:0px;
}

.donate.no-margin-bottom{
	margin-bottom:0px;
}

.no-side-margin{
	margin-left: auto;
	margin-right: auto;
}

.never-pad{
	padding:0px;
}

.never-margin{
	margin-top:0px;
}

.verti{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.xs-nopad{
	padding-left:0px;
	padding-right:0px;
}

.mobile-center{
	text-align: left;
}

div[itemprop="articleBody"]{
   height:100% !important;
}



/**** TYPOGRAPHY ****/

h1{
	margin:0;
	padding:0;
	font-size:48px;
	font-weight:800;
	color:#7D5CC6;
	line-height:1;
}

h2{
	margin:0;
	padding:0;
	font-size:30px;
	font-weight:700;
}

h3{
	margin:0 0 25px 0;
	padding:0;
	font-size:20px;
	line-height:24px;
	font-weight:400;
}

center-block

.donate-sm-h2{
	margin:0;
	padding:0;
	font-size:18px;
	font-weight:700;
}

h4.awarded{
	margin-bottom: 25px;
}

#sec1, #sec2, #sec3{
		padding-top: 25px;
	}

#sec4, #sec5, #sec6, #sec7, #sec8{
	padding-top: 25px;
}

br.award-titles{
	margin-top: 0px;
}

p{
	margin:0;
	padding:0 0 15px 0;
	font-size:14px;
	font-weight:400;
}

div .full{
	height:100%;
}

h1.m-btm{
	padding-bottom:50px;
}

.light{
	font-weight:300;
}

.pre-instructions{
	font-weight: 400;
	text-transform: uppercase;
}

.instructions{
	padding-left: 20px;
	display: block;
}

.alt-color{
	color:#FFF;
	text-shadow:1px 1px 25px rgba(0,0,0,0.8);
}

.m-top{
	margin-top:25px;
}

.m-top-funds{
	margin-top:50px;
}

.m-top1{
	margin-top:15px;
}

.m-top2{
	margin-top:0px;
}

.m-bottom{
	margin-bottom:15px;
}

.no-shadow{
	text-shadow:no-shadow;
}

.home-text{
	text-shadow:1px 1px 55px rgba(0,0,0,0.9);
}

#matching-gift{
	padding-top: 15px;
	font-weight: 400;
}

.caps{
	text-transform:uppercase;
}

.subtitle{
	font-weight: 300;
}


.date{
	padding-bottom:10px;
}

.contact-info{
	
	padding-top:15px;
	padding-bottom:15px;
}

.no-contact-info{
	padding-top:15px;
}

.contact-info p{
	margin-bottom:0;
	padding-bottom:0;
}

.contact-name{
	margin-bottom:0;
	padding-bottom:0;
	padding-top:40px;
}
.contact-title{
	margin-bottom:0;
	padding-bottom:0;
}

.contact-txt{
	padding-right:20px;
}

.lg-quote{
	/*height:12rem;*/
	height:10rem;
	line-height:17rem;
	font-size:15rem;
	font-weight:800;
	color:#FFF;
	text-align:center;
	display:block;
}

.lg-quote-funds{
	/*height:12rem;*/
	height:10rem;
	line-height:17rem;
	font-size:15rem;
	font-weight:800;
	color:#FFF;
	text-align:center;
	display:none;
}


.quote-mark{
	font-size:1.5rem;
}

.dropquote{
	width:100%;
	margin:0px 0px 15px 15px;
	padding-left:10px;
	font-size:2rem;
	font-weight:500;
	float:right;
	border-left:solid #7D5CC6 6px;
}



.caption{
	font-size:12px;
	font-weight:300;
	padding-bottom:25px;
	padding-top:10px;
}

.no-pad-bottom-text{
	padding-bottom:0px;
}

.gifts{
	padding-bottom:0px;
	padding-top:0px;
}

.hero{
	font-size:12px;
	font-weight:300;
	padding-top:10px;
	padding-bottom:0px;
	text-align: right;
}

.hero-image-text{
	padding-bottom:20px;
}

.hero-image-text1{
	padding-bottom:20px;
}

p.mini-menu-items{
	padding-bottom: 15px;
}

.caption-right{
	display:none;
}

.align-left{
	text-align: left;
}

.caption-left{
	display:inline-block;
	text-align: left;
	padding-bottom: 0px;
}

.article-img-article{
	padding: 0px;
}

.professorships-headline{
		font-size: 36px;
}

q, 
blockquote {
    quotes: "\201C" "\201D" "\2018" "\2019";
}


/**** COLOR OVERRIDES****/

.bkg-purple{
	background-color:#7D5CC6;
}

.bkg-lavender{
	background-color:#9093CE;
}

.white{
	color:#FFF;
}

.purple{
	color:#7D5CC6;
}

a.purple:hover{
	color:#9093CE;
}

.blue{
	color:#3DB7E4
}

.yellow{
	color:#F3CF45
}

.green{
	color:#7AB800;
}

/**** BUTTONS ****/

.btn{
	margin:0;
	margin-bottom:25px;
	padding:15px;
	background-color:#7D5CC6;
	color:#FFF;
	font-weight:700;
	cursor:pointer;
	border-radius:0;
	min-width:220px;
	border:0;
}


.btn p{
	font-size:18px;
	margin:0;
	padding:0;
}

.btn:hover{
	background-color:#A175FF;
	color:#FFF;
}

.btn:active{
	/*margin-top:1px;
	margin-left:1px;*/
	background-color:#5f4094;
	color:#FFF;
}


.btn-alt{
	margin:0;
	margin-bottom:25px;
	padding:15px;
	background-color:#7D5CC6;
	color:#FFF;
	font-weight:700;
	cursor:pointer;
	border-radius:0;
	min-width:220px;
	border:0;
}

.btn-alt:hover{
	background-color:#7AB800;
	color:#FFF;
}

.btn-alt:active{
	background-color:#6ea600;
	color:#FFF;
}

.btn-green{
	background-color:#7AB800;
}

.btn-green:hover{
	background-color:#90D900;
	color:#FFF;
}

.btn-green:active{
	/*margin-top:1px;
	margin-left:1px;*/
	background-color:#6ea600;
	color:#FFF;
}

.btn-center-green{	
	margin:0 auto 25px;
	padding:15px;
	background-color:#7D5CC6;
	color:#FFF;
	font-weight:700;
	cursor:pointer;
	border-radius:0;
	max-width:220px;
	display:block;
	text-align:center;
	border:0;
}

.btn-center-green:hover{
	background-color:#7AB800;
	color:#FFF;
}

.btn-center-green:active{
	background-color:#6ea600;
	color:#FFF;
}

.btn-purple{
	background-color:#7D5CC6;
}

.btn-center{	
	margin:0 auto 25px;
	padding:15px;
	background-color:#7D5CC6;
	color:#FFF;
	font-weight:700;
	cursor:pointer;
	border-radius:0;
	max-width:220px;
	display:block;
	text-align:center;
	border:0;
}

.btn-center:hover{
	background-color:#A175FF;
	color:#FFF;
}

.btn-center:active{
	background-color:#5f4094;
	color:#FFF;
}

.donate{
	margin-top:30px;
	margin-bottom:50px;
	font-size:30px;
	text-transform:uppercase;
}

.donate-form{
	text-align:center;
	margin-bottom: 30px;
}

.donate-form-donate{
	text-align:center;
	margin-bottom: 30px;
	background-color:#A175FF;
	border-bottom-color:#7D5CC6;
}
 

.donate-form-top{
	background-color:#A175FF;
}

.donate-num{
	width:100%;
	min-width:50%;
	padding:20px 0px;
}

.donate-num-donate{
	width:100%;
	min-width:50%;
	padding:20px 0px;
}

.btn p.donate-text{
	font-size:24px;
}

.btn p.donate-text-donate{
	font-size:24px;
}

.donate-row{
	margin-top:25px;
}

.no-margin{
	margin-left:0px;
	margin-right:0px;
}

.donate-testi{

	padding:15px;
}
/**** LINKS ****/

a{
	color:#FFF;
	text-decoration:none;
}

a:hover,
a:focus{
	color:#FFF;
	text-decoration:none;
}


/**** FORMS ****/

form{
	margin-top:0px;
	margin-bottom:40px;
}

input{
	border:0px;
	border-bottom:3px solid #000;
	width:90%;
	font-size:30px;
	color:gray;
}


input.donate-form-donate{
	border:0px;
	width:100%;
	font-size:30px;
	border-bottom:3px solid #7D5CC6;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.donate-form-donate::-webkit-input-placeholder{
	color:#fff;
}

select{
	width:100%;
	max-width:550px;
	border:1px solid #7D5CC6;
	padding:5px;
	font-size:18px;
	line-height:21px;
	background-color:#FFF;
}

select.no-border{
	width:100%;
	max-width:550px;
	border:0px solid #7D5CC6;
	padding:5px;
	font-size:18px;
	line-height:21px;
	background-color:#FFF;
}

option{
	width:100%;
	padding:5px;
	width:100%;
}


/**** IMAGES ****/

.profile{
	width:150px;
	height:150px;
	border-radius:50%;
	background-image:url(../img/about/board/steve-pro.jpg);
	background-position:50% 50%;
	background-repeat:no-repeat;
	background-size:cover;
	border:4px solid wheat;
	margin:0 auto 25px;
	display:block;
}


.rotc-profile{
	width:150px;
	height:150px;
	border-radius:50%;
	background-image:url(../img/projects/rotc-pro.jpg);
	background-position:50% 50%;
	background-repeat:no-repeat;
	background-size:cover;
	border:4px solid #7D5CC6;
	margin:0 auto 25px;
	display:block;
}

.bxscience-profile{
	width:150px;
	height:150px;
	border-radius:50%;
	background-image:url(../img/projects/bxscience-pro.jpg);
	background-position:50% 50%;
	background-repeat:no-repeat;
	background-size:cover;
	border:4px solid #7D5CC6;
	margin:0 auto 25px;
	display:block;
}


.debeer-profile{
	width:150px;
	height:150px;
	border-radius:50%;
	background-image:url(../img/projects/debeer-pro.jpg);
	background-position:50% 50%;
	background-repeat:no-repeat;
	background-size:cover;
	border:4px solid #7D5CC6;
	margin:0 auto 25px;
	display:block;
}

.brooklyn-profile{
	width:150px;
	height:150px;
	border-radius:50%;
	background-image:url(../img/projects/brooklyntech-profile.jpg);
	background-position:50% 50%;
	background-repeat:no-repeat;
	background-size:cover;
	border:4px solid #7D5CC6;
	margin:0 auto 25px;
	display:block;
}

.newera-profile{
	width:150px;
	height:150px;
	border-radius:50%;
	background-image:url(../img/projects/newera-profile.jpg);
	background-position:50% 50%;
	background-repeat:no-repeat;
	background-size:cover;
	border:4px solid #7D5CC6;
	margin:0 auto 25px;
	display:block;
}

.professorships-profile{
	width:150px;
	height:150px;
	border-radius:50%;
	background-image:url(../img/projects/professorships-profile.jpg);
	background-position:50% 50%;
	background-repeat:no-repeat;
	background-size:cover;
	border:4px solid #7D5CC6;
	margin:0 auto 25px;
	display:block;
}

.stuy-profile{
	width:150px;
	height:150px;
	border-radius:50%;
	background-image:url(../img/projects/stuyvesant-profile.jpg);
	background-position:50% 50%;
	background-repeat:no-repeat;
	background-size:cover;
	border:4px solid #7D5CC6;
	margin:0 auto 25px;
	display:block;
}

.funds1-profile{
	width:150px;
	height:150px;
	border-radius:50%;
	background-image:url(../img/funds/fundscovers/funds-profile.jpg);
	background-position:50% 50%;
	background-repeat:no-repeat;
	background-size:cover;
	border:4px solid #7D5CC6;
	margin:0 auto 25px;
	display:block;
}

.existing-scholarships-profile{
	width:150px;
	height:150px;
	border-radius:50%;
	background-image:url(../img/funds/fundscovers/scholarship1-profile.jpg);
	background-position:50% 50%;
	background-repeat:no-repeat;
	background-size:cover;
	border:4px solid #7D5CC6;
	margin:0 auto 25px;
	display:block;
}

.berta-profile{
	width:150px;
	height:150px;
	border-radius:50%;
	background-image:url(../img/funds/fundscovers/berta-profile.jpg);
	background-position:50% 50%;
	background-repeat:no-repeat;
	background-size:cover;
	border:4px solid #7D5CC6;
	margin:0 auto 25px;
	display:block;
}


.suprita-profile{
	width:150px;
	height:150px;
	border-radius:50%;
	background-image:url(../img/donate/suprita-profile.png);
	background-position:50% 10%;
	background-repeat:no-repeat;
	background-size:cover;
	border:4px solid #7D5CC6;
	margin:0 auto 25px;
	display:block;
}


/**** SECTIONS ****/


/**** LANDING ****/
	#landing-bkg{
		width:100%;
		height:100%;
		margin:0;
		padding:0;
		background-color:#000;
		background-color:rgba(0,0,0,.6);
		background:url(../img/landing.jpg);
		background-size:cover;
		background-repeat:no-repeat;
		background-position: 70%;
	}

	#about{
		width:100%;
		height:100%;
		background-color:#FFF;
	}

	.about-txt{
		max-width:85%;
		margin:0 auto;
		padding-top:25px;	
	}

	#support-bkg{
		width:100%;
		height:100%;
		background-color:#7D5CC6;
		background:url(../img/support.jpg);
		background-size:cover;
		background-repeat:no-repeat;
	}

	#connect{
		width:100%;
		height:100%;
		background-color:#FFF;
	}

	.shames{
		max-width: 50%;
	}

	.article-img-middle{
		text-align: center;
		display:block;
		margin:0 auto;
	}

/**** ABOUT ****/

#board-bkg{
	width:100%;
	min-height:500px;
	padding:50px 10px 75px 5px;
	background-color:#FFF;
	background:url(../img/about/board/steve-mobile.jpg);
	background-position:50% 20%;
	background-size:cover;
	background-repeat:no-repeat;
}



#waystogive-bkg{
	width:100%;
	height:100%;
	max-height:600px;
	margin-bottom:25px;
	padding:50px 10px 75px 5px;
	background-color:#FFF;
	background:url(../img/waystogive-cover.jpg);
	background-position:50% 50%;
	background-size:cover;
	background-repeat:no-repeat;
}

/**** SPECIAL PROJECTS ****/
#baseball-bkg{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	background-color:#000;
	background:url(../img/projects/baseball-cover.jpg);
	background-position:50% 20%;
	background-size:cover;
	background-repeat:no-repeat;
}

#brooklyntech-bkg{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	background-color:#000;
	background:url(../img/projects/brooklyntech-mobile.jpg);
	background-position:50% 20%;
	background-size:cover;
	background-repeat:no-repeat;
}


#bxscience-bkg{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	background-color:#000;
	background:url(../img/projects/bxscience-mobile.jpg);
	background-position:70% 20%;
	background-size:cover;
	background-repeat:no-repeat;
}

#newera-bkg{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	background-color:#000;
	background:url(../img/projects/newera-mobile.jpg);
	background-position:50% 20%;
	background-size:cover;
	background-repeat:no-repeat;
}

#rotc-bkg{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	background-color:#000;
	background:url(../img/projects/rotc-mobile.jpg);
	background-position:50% 20%;
	background-size:cover;
	background-repeat:no-repeat;
	
}


#zahn-bkg{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	background-color:#000;
	background:url(../img/projects/zahn-cover.jpg);
	background-position:50% 20%;
	background-size:cover;
	background-repeat:no-repeat;
}


#lamda-bkg{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	background-color:#000;
/*	background-color:rgba(0,0,0,.6);
*/	background:url(../img/projects/lamda.png);
	background-position:50% 20%;
	background-size:cover;
	background-repeat:no-repeat;
}

#professorships-bkg{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	background-color:#000;
/*	background-color:rgba(0,0,0,.6);
*/	background:url(../img/projects/professorships-mobile.jpg);
	background-position:50% 20%;
	background-size:cover;
	background-repeat:no-repeat;
}

#stuy-bkg{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	background-color:#000;
/*	background-color:rgba(0,0,0,.6);
*/	background:url(../img/projects/stuyvesant-mobile.jpg);
	background-position:50% 20%;
	background-size:cover;
	background-repeat:no-repeat;
}

#debeer-bkg{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	background-color:#000;
	background:url(../img/projects/debeer-mobile.jpg);
	background-position:50% 20%;
	background-size:cover;
	background-repeat:no-repeat;
}

#funds1-bkg{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	background-color:#000;
	background:url(../img/funds/fundscovers/funds-mobile.jpg);
	background-position:50% 20%;
	background-size:cover;
	background-repeat:no-repeat;
	
}

#existing-scholarships-bkg{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	background-color:#000;
	background:url(../img/funds/fundscovers/scholarship1-mobile.jpg);
	background-position:50% 20%;
	background-size:cover;
	background-repeat:no-repeat;
	
}


#berta-bkg{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	background-color:#000;
	background:url(../img/funds/fundscovers/berta-mobile.jpg);
	background-position:50% 20%;
	background-size:cover;
	background-repeat:no-repeat;
	
}

#timeline-bkg{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	background-color:#000;
	background:url(../img/events/timeline-cover.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	height:350px;
	background-position:33% 33%;
}



/**** SUPPORT ****/

.card{
	/*min-width:320px;*/
	max-width:100%
}

.card-top{
	min-width:100%;
	margin-top:15px;
	margin-right:0px;
	background-color:#d9dbff;
	padding-left:24px;
	padding-right:0px;
	padding-bottom:0px;
}

.card-top p{
	padding-bottom:0;
}

.card-bottom{
	min-width:100%;
	margin-right:25px;
	background-color:#d9dbff;
	margin-bottom:25px;
	display:none;
}

.card-des{
	display:none;
}

.card-link{
	/*padding-top:10px;*/
	border-top:2px solid #5f4094;
	height:51px;
}

.card-title{
	padding-top:18px;
	padding-bottom:18px;
	font-size:18px;
	display:inline-block;
	font-weight:700;
}

.card-link-txt{
	padding-left:24px;
	font-size:16px;
	/*line-height:55px;*/
	line-height:52px;
	width:100%;

}

.card-master{
	margin:0 auto;
}

p.one-link{
	padding-bottom:52.45px;
}

.card-arrow{
	font-size:24px;
	color:#FFF;
}

a.card-arrow:hover,
a.card-arrow:focus{
	color:#7AB800;
}

.card-icon{
	padding:10px 20px 5px;
	background-color:#7D5CC6;
	float:right;
}

.card-icon:hover,
.card-icon:focus{
	background-color:#A175FF
}

.card-icon:active{
	background-color:#5f4094;
}

.mobile-icon{
	padding:0px 20px;
	background-color:#7D5CC6;
	float:right;
}

.mobile-icon:hover,
.mobile-icon:focus{
	background-color:#A175FF;

}
.mobile-icon:active{
	background-color:#5f4094;
}

.add-icon{
	line-height:76px;
	display:inline;
}

.add-glyph{
	font-size:60px;
	margin-right:-3px;
}

.glyphicon{
    	width: 24px;
}

.add-icon{
	width:24px;
}

.glyphicon-plus{
	margin-right:-24px;
}


/**** NAV PLACEHOLDER ****/
#nav-placeholder{
	height:150px;
	width:100%;
}

/**** NAVIGATION ****/

.logo{
	width:100px;
	margin-right:25px;
}

a.logo{
	margin:0 auto;
	z-index:2000;
}

.nav>li>a>img{
	max-width:100px !important;
	margin-top:-25px;
	margin-right:25px;
}

.navbar{
	border-radius:0px;
	min-height:80px;
	border:0px;
	background-color:#7D5CC6;
	margin-bottom:0px;

}

.navbar-nav > li > a{
	height:80px;
	color:#FFF;
	font-size:18px;
	padding-top:28px;
}

.navbar-nav li a:hover,
.nav > li > a:focus, .nav > li > a:hover{
	background-color:#7D5CC6;
}
.navbar-nav li a:active
{
	background-color:#9093CE;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover{
	background-color:#9093CE;
}

.nav > li.dropdown.open { position: static; }
.nav > li.dropdown.open .dropdown-menu {display:table; width: 100%; text-align: center; left:0; right:0; }
.dropdown-menu>li { display: block; }

.nav > li.dropdown.open .dropdown-menu{
	background-color:#9093CE;
	border:0;
	z-index:2;
}

.navbar-nav li a{
	font-size:21px;
	color:#FFF;
	font-weight:700;
	text-align:left;
}

.dropdown-menu li a{
	padding:15px;
}

.navbar-nav li a:hover, .nav > li > a:focus, .nav > li > a:hover{
	color:#FFF;
	font-weight:700;
	background-color:#7D5CC6;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{
	color:#FFF;
	background-color:#7D5CC6;
}

.dropdown li a:active,
.dropdown li a:focus{
	background-color:#7AB800;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus{
		background-color:#7AB800;

}

.mini-menu{
	display:none;
}

/**** MOBILE NAVBAR ****/
.navbar-toggle .icon-bar{
	width:33px;
	height:3px;
	background-color:#FFF;
}

.top-rotate{
	transform:rotate(45deg);
	transition:ease .1s;
}

.bottom-rotate{
	transform:rotate(-45deg);
	margin-top:-10px;
	transition:ease .1s;
}

.middle-bar{
	display:none;
	transition:ease .1s;
}

.x-out{
	margin-top:25px;
}




/**** FOOTER ****/

.footer-container{
	background-color:#565A5C;
	width:100%;
	padding-top:50px;
	padding-bottom:25px;
}

.footer-about{
	color:#FFF;
	text-transform:uppercase;
	font-weight:bold;
}

.footer-text{
	color:#FFF;
	font-size:14px;
}

footer{
	position:relative;
	display:none;
}

.footer-row{
	width:100% !important;
	margin:0 !important;
}

/*.no-height{
	height:0 !important;
}*/



/**** JUNE 22ND CHANGES ****/


.contact-name{
	padding-top:10px;
}

.contact-info{
	padding-top:0px;
}

h3.purple{
	margin-bottom:10px;	
}

#about{
	margin-top:25px;
	margin-bottom:25px;
}
.about-txt{
	padding-bottom:25px;
}

/**** TIMELINE ****/

.timeline{
	margin-top:40px;
}

.timeline-line{
	border-left:2px solid #000;
	z-index:2;
}

.time-bullet{
	width:40px;
	height:40px;
	margin-right:10px;
	background-color:#FFF;
	border:5px solid #7D5CC6;
	border-radius:50%;
	float:left;
	margin-left:-21px;
	transition: ease .5s;

}

.time-bullet:hover{
	background-color:#7D5CC6;
}

.time-bullet-child{
	width:30px;
	height:30px;
	margin-right:10px;
	background-color:#FFF;
	border:5px solid #7D5CC6;
	border-radius:50%;
	float:left;
	margin-left:-16px;
	z-index:2;
	transition: ease .2s;
}

.time-bullet-child:hover{
	background-color:#7D5CC6;
}


.timeline-txt{
	padding-top:5px;
	padding-left:0px;
	padding-bottom:0px;
	font-size:24px;
	margin-bottom:30px;
}

.timeline-txt-child{
	padding-top:0px;
	padding-left:0px;
	padding-bottom:0px;
	font-size:24px;
	margin-bottom:30px;
}

.timeline-children{
	display:none;
}

.timeline-link,
.timeline-link-child{
	color:#565A5C;
	text-decoration:none;
}

.timeline-date{
	padding-bottom:25px;
}

.timeline-info-txt{
	display:none;
	padding-left:15px;
	padding-right:15px;
}

.timeline-module{
	padding:0;
	left:50%;
	z-index:2000;
	background-color:orange;
	display:block;
	transition: ease 1s;
	-webkit-transition: ease 1s;
	position:absolute;
	
}

.timeline-content{
	z-index:500;
}

.timeline-master{
	
}

.timeline-master-bullet{
	display:none;
}

/*.timeline-link:hover,
.timeline-link:active,
.timeline-link:focus,
.timeline-link-child:hover,
.timeline-link-child:active,
.timeline-link-child:focus{
	color:#7D5CC6;
}*/


.show{
	display:block;
}

.active-child{
	background-color:#7D5CC6;

}

br{
	display:block;
	margin-top:25px;
	line-height:25px;
	content:" ";
}


/**** SEARCH NAVIGATION ****/

.navbar{
	max-height:initial;
}

.navbar-right{
	float:none !important;
	margin-right:0px !important;
}

label .element-invisible{
	display:none;
}

.navbar-form .form-control{
	width:75%;
	border:0;
	border-radius:0;
}

.button{
	margin:0;
	margin-bottom:20px;
	background-color:#7AB800;
	border:0;
}

.search{
	display:none;
}

.search-icon img{
	width:30px;
}

@media only screen and (min-width: 520px){
	.professorships-headline{
		font-size: 60px;
	}
}

@media only screen and (min-width:480px) and (max-width:767px){
	.mobile-center{
		text-align: center;
	}

	.align-center{
		text-align: center;
	}

	.no-side-margin{
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (min-width: 768px){
	/**** GRID ****/
	.row{
		width:85% !important;
	}
	.nested-row{
		width:100% !important;
	}


	.no-pad{
		padding:inherit;
	}

	.xs-nopad{
		padding-left:15px;
		padding-right:15px;
	}

	.no-pad-bottom{
		padding-bottom:inherit;
	}

	.no-margin-bottom{
		margin-bottom:15px;
	}

	.no-side-margin{
		margin-left: 0px;
		margin-right: 0px;
	}

	.mobile-center{
		text-align: left;
	}

	.m-top{
		margin-top:50px;
	}


	.m-top2{
		margin-top:15px;
	}


	.m-bottom{
		margin-bottom:0px;
	}


	/**** TYPOGRAPHY ****/
	h1{
		font-size:60px;
	}

	h2{
		font-size:48px;
	}

	h3{
		font-size:24px;
		padding-bottom:25px;
		line-height:30px;
	}

	.donate-sm-h2{
		font-size:30px;
	}

	p{
		margin:0;
		padding:0 0 25px 0;
		font-size:16px;
		font-weight:400;
	}

	.contact-txt{
		padding-right:40px;
	}

	.dropquote{
		width:100%;
		margin:0px 0px 25px 15px;
		padding-left:10px;
		font-size:2rem;
		font-weight:500;
		border-left:solid #7D5CC6 6px;
	}

	.article-img-article{
		padding-left: 20px;
	}

	h3.purple{
		margin-bottom:25px;
	}

	.contact-name{
		padding-top:30px;
	}

	.contact-info{
		padding-top:5px;
	}

	#about{
		margin-top:25px;
		margin-bottom:25px;
	}

	#timeline-bkg{
		height:400px;
	}

	.caption{
	font-size:12px;
	font-weight:300;
	padding-bottom:25px;
	padding-top:10px;
	}

	.caption-left{
		display:inline-block;
		text-align: left;
		padding-bottom: 0px;
	}


	.lg-quote-funds{
		display:block;
	}

	.hero-image-text1{
	padding-bottom:0px;
	}

	

	.m-top-funds{
		margin-top:50px;
	}

	.m-top1{
		margin-top:25px;
	}


	/**** NAVIGATION ****/
	.navbar-nav li a{
		font-size:24px;
		color:#FFF;
		font-weight:700;
		text-align:center;
	}

	a.logo{
		margin-right:25px;
	}

	

	/**** IMAGES ****/
	#rotc-bkg{
		width:100%;
		min-height:500px;
		padding:50px 10px 75px 5px;
		background-color:#FFF;
		background:url(../img/projects/rotc-cover2.jpg);
		background-position:50% 20%;
		background-size:cover;
		background-repeat:no-repeat;
	}

	#rotc-bkg{
		width:100%;
		min-height:500px;
		padding:50px 10px 75px 5px;
		background-color:#FFF;
		background:url(../img/projects/rotc-cover2.jpg);
		background-position:50% 20%;
		background-size:cover;
		background-repeat:no-repeat;
	}

	#bxscience-bkg{
		width:100%;
		min-height:500px;
		padding:50px 10px 75px 5px;
		background-color:#FFF;
		background:url(../img/projects/bxscience-cover.jpg);
		background-position:50% 20%;
		background-size:cover;
		background-repeat:no-repeat;
	}

	#debeer-bkg{
		width:100%;
		height:100%;
		margin:0;
		padding:0;
		background-color:#000;
		background:url(../img/projects/debeer.jpg);
		background-position:50% 20%;
		background-size:cover;
		background-repeat:no-repeat;
	}

	#brooklyntech-bkg{
		width:100%;
		height:100%;
		margin:0;
		padding:0;
		background-color:#000;
		background:url(../img/projects/brooklyntech-cover.jpg);
		background-position:50% 20%;
		background-size:cover;
		background-repeat:no-repeat;
	}

	#newera-bkg{
		width:100%;
		height:100%;
		margin:0;
		padding:0;
		background-color:#000;
		background:url(../img/projects/newera-cover2.jpg);
		background-position:50% 20%;
		background-size:cover;
		background-repeat:no-repeat;
	}

	#professorships-bkg{
		width:100%;
		height:100%;
		margin:0;
		padding:0;
		background-color:#000;
		background:url(../img/projects/maurizio-trevisan2.jpg);
		background-position:50% 20%;
		background-size:cover;
		background-repeat:no-repeat;
	}

	#stuy-bkg{
		width:100%;
		height:100%;
		margin:0;
		padding:0;
		background-color:#000;
		background:url(../img/projects/stuyvesant-cover.jpg);
		background-position:70% 20%;
		background-size:cover;
		background-repeat:no-repeat;
	}

	#funds1-bkg{
		width:100%;
		min-height:500px;
		padding:50px 10px 75px 5px;
		background-color:#FFF;
		background:url(../img/funds/fundscovers/funds-cover.jpg);
		background-position:50% 20%;
		background-size:cover;
		background-repeat:no-repeat;
	}

	#existing-scholarships-bkg{
		width:100%;
		min-height:500px;
		padding:50px 10px 75px 5px;
		background-color:#FFF;
		background:url(../img/funds/fundscovers/scholarship1-cover.jpg);
		background-position:50% 20%;
		background-size:cover;
		background-repeat:no-repeat;
	}

	#berta-bkg{
		width:100%;
		min-height:500px;
		padding:50px 10px 75px 5px;
		background-color:#FFF;
		background:url(../img/funds/fundscovers/berta-cover.jpg);
		background-position:50% 20%;
		background-size:cover;
		background-repeat:no-repeat;
	}


	.rotc-profile{
		display:none;
	}

	.bxscience-profile{
		display:none;
	}

	.debeer-profile{
		display:none;
	}

	.brooklyn-profile{
		display:none;
	}

	.newera-profile{
		display:none;
	}

	.professorships-profile{
		display:none;
	}

	.stuy-profile{
		display:none;
	}

	.funds1-profile{
		display:none;
	}

	.existing-scholarships-profile{
		display:none;
	}

	.berta-profile{
		display:none;
	}

	.article-img-middle{
		text-align: left;
		margin:initial;
		padding:0px;
	}

	.shames{
		max-width: 100%;
	}


	/**** CARDS ****/
	/**** CARDS ****/
	.card{
/*		max-width:375px;
*/	}

	.card-title{
		padding-top:24px;
		padding-bottom:24px;
		font-size:30px;
		display:block;
	}

	.card-des{
		display:inline-block;
	}

	.card-top{
		/*min-width:300px;*/	
		margin-top:25px;	
		margin-right:25px;
		padding-bottom:50px;

	}

	.card-bottom{
		/*min-width:300px;*/
		display:block;
	}

	.card-title{
		padding-bottom:30px;
	}

	.card-link-txt{
		font-size:18px;
	}

	.add-icon{display:none;}

	.glyphicon{
    	width: 24px;
	}

	/**** BUTTONS ****/
	.btn p{
		font-size:24px;
	}

	.btn p.donate-text{
		font-size:36px;
	}

	.btn p.donate-text-donate{
		font-size:30px;
	}

	.donate{
		margin-top:50px;
	}

	.donate-num{
		width:100%;
		min-width:150px;
	}

	.donate-num-donate{
		width:100%;
		min-width:140px;
	}

	.donate-row{
		margin-top:50px;
	}

	.specialprojects-dropdown{
		margin-top: 35px;
	}

	/**** TIMELINE ****/

	.timeline{
		margin-top:40px;
	}

	.timeline-line{
		border-left:2px solid #000;
		z-index:2;
	}

	.time-bullet{
		width:40px;
		height:40px;
		margin-right:10px;
		background-color:#FFF;
		border:5px solid #7D5CC6;
		border-radius:50%;
		float:left;
		margin-left:-21px;
		transition: ease .5s;

	}

	.time-bullet:hover{
		background-color:#7D5CC6;
	}

	.time-bullet-child{
		width:30px;
		height:30px;
		margin-right:10px;
		background-color:#FFF;
		border:5px solid #7D5CC6;
		border-radius:50%;
		float:left;
		margin-left:-16px;
		z-index:2;
		transition: ease .2s;
	}

	.time-bullet-child:hover{
		background-color:#7D5CC6;
	}


	.timeline-txt{
		padding-top:5px;
		padding-left:0px;
		padding-bottom:0px;
		font-size:24px;
		margin-bottom:30px;
	}

	.timeline-txt-child{
		padding-top:0px;
		padding-left:0px;
		padding-bottom:0px;
		font-size:24px;
		margin-bottom:30px;
	}

	.timeline-children{
		display:none;
	}

	.timeline-link,
	.timeline-link-child{
		color:#565A5C;
		text-decoration:none;
	}

	.timeline-date{
		padding-bottom:25px;
	}

	.timeline-info-txt{
		display:none;
		padding-left:15px;
		padding-right:15px;
	}

	.timeline-module{
		padding:inherit;
		left:0;
		z-index:0;
		background-color:#FFF;
		display:block;
		transition: ease 1s;
		-webkit-transition: ease 1s;
		position:relative;
		
	}

	.timeline-master-bullet{
		width:40px;
		height:40px;
		background-color:#FFF;
		border:5px solid #7D5CC6;
		border-radius:50%;
		/*float:left;*/
		/*margin-left:-21px;*/
		transition: ease .5s;
		/*color:#FFF;*/
		display:inline-block;
		z-index:3000;
	}


	/*.timeline-master{
		width:0px;
		height:0px;
	}


*/
	/**** FORMS ****/
	input{
		font-size:60px;
		width:70%;
	}

	input.donate-form-donate{
		font-size:45px;
		width:70%;
		color:#fff;
	}

	.donate-form-donate::-webkit-input-placeholder{
		color:#fff;
	}

	form{
		margin-top:40px;
		margin-bottom:40px;
	}

	/**** SEARCH NAV ****/
	.navbar{
		max-height:150px;
	}
}

@media only screen and (min-width:992px){
	/**** GRID ****/
	.mobi-only{
		display:none;
	}

	/**** TYPOGRAPHY ****/
	.dropquote{
		width:60%;
		margin:30px 0px 30px 15px;
		padding-left:10px;
		font-size:2.5rem;
		font-weight:500;
		float:right;
		border-left:solid #7D5CC6 6px;
	}

	.caption{
	font-size:12px;
	font-weight:300;
	padding-bottom:25px;
	padding-top:10px;
	}

	.caption-right{
		display:inline-block;
	}

	.caption-left{
		display:none;
	}

	/**** IMAGES ****/
	.profile{
		display:none;
	}

	/**** CARDS ****/
	.card-title{
		font-size:24px;	
	}

	.card-top{
		padding-left:18px;
	}

	.card-link-txt{
		padding-left:10px;
		font-size:16px;
	}

	.m-top{
		margin-top:50px;
	}

	.m-top1{
		margin-top:25px;
	}

	#sec1, #sec2, #sec3{
		padding-top: 35px;
	}

	#sec4, #sec5, #sec6, #sec7, #sec8{
		padding-top: 35px;
	}

	/**** ABOUT ****/
	#board-bkg{
		padding: 50px 25px 75px 5px;
		background:url(../img/about/board/stevewide.jpg);
		background-position:50% 20%;
		background-size:cover;
		background-repeat:no-repeat;
	}

	/**** MINI-MENU ****/
	
	.mini-menu{
	display:inline-block;
	}

	/**** FORMS ****/

	input{
		width:60%;
	}
	
}

@media only screen and (min-width: 1075px){
	.card-top{
		min-width:100%;
		margin-top:25px;
		margin-right:0px;
		background-color:#d9dbff;
		padding-left:24px;
		padding-right:0px;
		padding-bottom:50px;
	}

	.card-link-txt{
		padding-left:24px;
		font-size:18px;
		/*line-height:55px;*/
		line-height:52px;
		width:100%;

	}

	.card-title{
		padding-top:24px;
		padding-bottom:24px;
		font-size:30px;
		display:inline-block;
	}
}

@media only screen and (min-width:1200px){
	/**** TYPOGRAPHY ****/
	h1{
		font-size:60px;
	}

	.caption{
	font-size:12px;
	font-weight:300;
	padding-bottom:25px;
	padding-top:10px;
	}
}